/* --- Reset & Pengaturan Global --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #1d1d1d;
    color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}